include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include cla_common/templates *
recursive-include cla_common/static *
recursive-include core *.html *.png *.gif *js *jpg *jpeg *svg *py
